/*
 * 混合
 */

/* ---------- 实用工具 ---------- */

/* 清除浮动 */

/* 居中对齐 */

/* 宽度、高度 */

/* 三角形 */

/* 一栏固定宽度，一栏自适应宽度 */

/* inline-block， 这个混合只用于IE7-的块级元素，其他浏览器直接使用display:inline-block即可 */

/* box-sizing */

/* box-shadow */

/* transition */

/* transformation */

/* backface-visibility */

/* user-select */

/* resizable */

/* content-columns */

/* hyphens */

/* opacity */

/* ---------- GRADIENTS ---------- */

/* ---------- 组件混合 ---------- */

/* form */

/* button */

/* hints */

/* html, body */
html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  text-size-adjust: 100%;
  -webkit-touch-callout: none;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, 'SF UI Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4286;
  color: #666;
  user-select: none;
  background-color: #f5f5f5;
  -webkit-touch-callout: none;
}

.app-root,
.views {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view {
  position: absolute;
  z-index: 6;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

.page-content {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  height: 100%;
  padding-top: 44px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.g-navbar .van-nav-bar {
  height: 44px;
}

html.device-miniprogram .page-content,
html.device-zuoyebang .page-content {
  padding-top: 0;
}

html.device-miniprogram .g-navbar .van-nav-bar,
html.device-zuoyebang .g-navbar .van-nav-bar {
  display: none;
}

html.device-miniprogram .g-loading.g-loading-cover,
html.device-zuoyebang .g-loading.g-loading-cover {
  padding-top: 0;
}

html.device-native-app body {
  min-height: 100vh;
}

html.device-native-app.with-statusbar .app-root {
  padding-top: 20px;
  padding-top: env(safe-area-inset-top);
}

html.device-native-app .view {
  transition: all 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}

html.device-native-app .view-slide-left-leave-active {
  transform: translate(-20%, 0);
}

html.device-native-app .view-slide-left-enter {
  transform: translate(100%, 0);
}

html.device-native-app .view-slide-right-leave-active {
  transform: translate(100%, 0);
}

html.device-native-app .view-slide-right-enter {
  z-index: 5;
  transform: translate(-20%, 0);
}

html.device-native-app .view-slide-right-enter-active {
  z-index: 5;
}

html.device-native-app .view-no-slide-leave,
html.device-native-app .view-no-slide-leave-active,
html.device-native-app .view-no-slide-enter,
html.device-native-app .view-no-slide-enter-active {
  transition: none;
}

html.device-native-app .view-no-slide-enter,
html.device-native-app .view-no-slide-enter-active {
  z-index: 5;
}

.g-wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

.g-subnavbar {
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  box-sizing: border-box;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: inset 0 -1px 0 #ebebeb;
}

/* a */
a {
  color: #3384ff;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: #3384ff;

  /* text-decoration: underline; */
}

a:focus {
  outline: thin dotted #333;

  /* Webkit */
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
select:focus,
textarea:focus {
  outline: 0;
}

/* hidden */
.g-hidden {
  display: none !important;
}
@font-face {
  font-family: iconfont;

  /* project id 2086062 */
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}

.g-iconfont {
  position: relative;
  top: 0;
  top: 1px\0;
  display: inline-block;

  /* ie8, ie9, ie10, ie11 only */
  font-family: iconfont, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'fontEncrypt1';

  /* project id 734070 */
  src: url('https://s.diyigaokao.com/v5/fonts/gaokao_font1.ttf');
  src: url('https://s.diyigaokao.com/v5/fonts/gaokao_font1.ttf') format('truetype');
}

.g-font-encrypt1 {
  font-family: 'fontEncrypt1', sans-serif;
}
@font-face {
  font-family: 'fontEncrypt2';

  /* project id 734070 */
  src: url('https://s.diyigaokao.com/v5/fonts/gaokao_font2.ttf');
  src: url('https://s.diyigaokao.com/v5/fonts/gaokao_font2.ttf') format('truetype');
}

.g-font-encrypt2 {
  font-family: 'fontEncrypt2', sans-serif;
}
@font-face {
  font-family: 'fontEncrypt3';

  /* project id 734070 */
  src: url('https://s.diyigaokao.com/v5/fonts/gaokao_font3.ttf');
  src: url('https://s.diyigaokao.com/v5/fonts/gaokao_font3.ttf') format('truetype');
}

.g-font-encrypt3 {
  font-family: 'fontEncrypt3', sans-serif;
}
@font-face {
  font-family: 'fontEncrypt4';

  /* project id 744070 */
  src: url('https://s.diyigaokao.com/v5/fonts/gaokao_font4.ttf');
  src: url('https://s.diyigaokao.com/v5/fonts/gaokao_font4.ttf') format('truetype');
}

.g-font-encrypt4 {
  font-family: 'fontEncrypt4', sans-serif;
}

.g-article {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  line-height: 1.8;
  *zoom: 1;
  user-select: text;
  user-select: none;
}

.g-article::after {
  display: table;
  clear: both;
  content: ' ';
}

.g-article p,
.g-article ul,
.g-article ol,
.g-article table {
  margin-bottom: 10px;
}

.g-article h1,
.g-article h2 {
  padding: 10px 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.g-article h3,
.g-article h4,
.g-article h5,
.g-article h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.g-article a {
  color: #3384ff;
}

.g-pointer-events-none a {
  pointer-events: none;
  cursor: default;
}

.g-article a:hover,
.g-article a:active {
  text-decoration: underline;
}

.g-article img {
  max-width: 100%;
  height: auto;
  -webkit-touch-callout: default;
}

.van-empty__image img {
  display: none;
}

.g-article table {
  width: 100%;
}

.g-article table th,
.g-article table td {
  padding: 5px 10px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ebebeb;
}

.g-article table th {
  background-color: #f7f7f7;
}

.g-article table img {
  max-width: 100%;
}

.g-article .table_wrap {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.g-article .table_wrap_box {
  *zoom: 1;
}

.g-article .table_wrap_box::after {
  display: table;
  clear: both;
  content: ' ';
}

.g-article ul li {
  margin-left: 2em;
  list-style: disc;
}

.g-article ol li {
  margin-left: 2em;
  list-style: decimal;
}

.van-empty__image {
  background-image: url('~@/assets/imgs/2020100903.png');
  background-size: cover;
}
